.task-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 1.5rem;
}

.task-card {
    border: 2px solid black;
    border-radius: 28px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.task-card:hover{
    transform: scale(1.01);
    cursor: pointer;
    transition: transform 0.4s ease;
}


.task_3-container,
.task_4-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task-wrapper input,
.task-wrapper button{
    width: 150px;
    padding: 10px;
    font-size: 24px;
}
.task-wrapper select{
    width: 250px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    align-self: center;
   margin: 5px 0 0;

}
.task-wrapper button {
   align-self: center;
   margin: 5px;
   background-color: cornflowerblue;
   border-radius: 30px;
   color: whitesmoke;
   border: 4px solid transparent;
}
.task-wrapper button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border: 4px inset rgba(131, 131, 245, 0.719);

}
.task-wrapper button:active {
    border: 4px inset blue;
   background-color: rgba(100, 148, 237, 0.836);
   transform: scale(0.99);

 }

.task-wrapper label {
    margin-right: 10px;
}

.task_3-container h1,
.task_4-container h1{
    text-align: center;
}

@media (max-width: 1344px) {
    .task-wrapper {
        grid-template-columns: repeat(2, 1fr);
    /* font-size: 1.3rem; */
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 1068px) {
    
    .task-wrapper {
        grid-template-columns: 1fr 1fr;
        /* font-size: 1.1rem; */

    }
}

@media (max-width: 768px) {
    .task-wrapper {
        grid-template-columns: 1fr;
    }
}