.home-wrapper {
    display: flex;
    height: calc(100vh - 100px); 
    background-color: #f9f9f9;
    font-size: 24px;
  }
  
  .home-numbers-container {
    width: 20%;
    padding: 20px;
    background-color: #eef1f7;
    border-right: 2px solid #ccc;
  }
  
  .home-numbers-container ul {
    list-style: none;
    padding: 0;
  }
  
  .home-numbers-container li {
    margin-bottom: 20px;
  }
  
  .home-numbers-container a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
  }
  
  .home-numbers-container a:hover {
    background-color: #007bff;
    color: white;
  }
  
  .home-load-container {
    width: 80%;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  